*~
\#*
*.qm
pymecavideo_project.pro
etats_pymecavideo.svg
*.pyc
Ui_*
*.1
*.xhtml

# debuild
debian/files
debian/*debhelper*
debian/*substvars
data/help/*w32.png
build/
debian/python3-mecavideo/

# quilt
.pc/