*~
\#*
*.qm
pymecavideo_project.pro
etats_pymecavideo.svg
etats_pymecavideo.html
*.pyc
Ui_*
*_rc.py


# debuild
debian/files
debian/*debhelper*
debian/*substvars
debian/python3-mecavideo/
data/help/*w32.png
build/
pymecavideo.egg-info/

# quilt
.pc/
