[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/bin/pymecavideo
Icon=/usr/share/pixmaps/pymecavideo-48.png
Terminal=false
Name=pyMecaVideo
GenericName=Meca Video
GenericName[fr_FR]=Méca Vidéo
Comment=Interactive tool to track moving points in video framesets
Comment[fr_FR]=Outil interactif pour le suivi de points dans des vidéos
Categories=GNOME;Application;Video;Education;Science;
