Source: pymecavideo
Section: python
Priority: optional
Maintainer: Georges Khaznadar <georgesk@debian.org>
Build-Depends: debhelper-compat (= 13),
 python3-all,
 python-setuptools,
 dh-python,
 qt6-base-dev-tools,
 pyqt6-dev-tools,
 qt6-l10n-tools,
 librsvg2-bin,
X-Python3-Version: >= 3.8
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/georgesk/pymecavideo
Vcs-Git: https://salsa.debian.org/georgesk/pymecavideo.git

Package: python3-mecavideo
Provides: python-mecavideo
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3-pyqt6, xdg-utils, python3-opencv,
 python3-odf, python3-pyqtgraph, shared-mime-info
Recommends:
 mencoder,
 python3-pandas,
 python3-nbformat
Description: pedagogic tool to analyze video records for mechanics
 You can track the movement of one or many points in video frames and export
 the position measurements to standard analysis tools.
